<form [formGroup]="frmRegistro">
  <div>
    <label for="nombre">Nombre</label>
    <input type="text" formControlName="nombre" id="nombre" />
  </div>
  <div>
    <label for="email">Email</label>
    <input type="text" formControlName="email" id="email" />
  </div>
  <div>
    <label for="clave">Clave</label>
    <input type="password" formControlName="clave" id="clave" />
  </div>
  <div>
    <label for="confirmar">Confirmar</label>
    <input type="password" formControlName="confirmar" Cd="confirmar" />
  </div>
  
  <button (click)="registro()" [disabled]="!frmRegistro.valid || !validacion()">Registrarse</button>
</form>